{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }} welcome to Refill!</h1>
    <label> {{ current_user.reward_points }} Points:</label>
    <meter value="{{ current_user.reward_points }}" min="0" max="100"></meter>
    <h2> Current News</h2>
    <p>
        Lorem ipsum dolor sit amet. Ut voluptate eveniet vel possimus nihil et rerum exercitationem. Ea laboriosam eligendi eos ipsa ducimus eum deleniti nihil quo explicabo cumque et harum laborum hic atque tempore. Vel quae deleniti qui quibusdam rerum est delectus rerum. Id molestiae natus sed aliquid possimus quo aliquam quaerat sit impedit enim. Quo esse consequatur est delectus cupiditate sit nemo magnam aut eaque repellendus aut rerum porro. Rem natus internos aut ipsum modi est harum reprehenderit ad possimus nobis ut blanditiis nihil non magnam eius. Aut sint earum ex repellat aspernatur sit minus dignissimos ut nemo obcaecati ex officia maxime!

Aut sunt laborum nam ducimus magni et molestiae maxime et nesciunt porro aut itaque iure est natus numquam quo tempore explicabo. Aut magnam iusto et saepe quam et dolor minima. A molestias sapiente ut consequuntur velit qui impedit molestiae id quos placeat est omnis voluptates ut optio recusandae aut quaerat autem. Est voluptate voluptates in aliquid modi qui asperiores dolores aut eius quia non velit amet a eaque amet et assumenda delectus! Ea nihil assumenda ab assumenda veritatis est sint modi eum libero consequuntur hic debitis dolor et laudantium temporibus et quam deleniti. Eos excepturi dignissimos aut ipsum saepe ut accusamus soluta est eveniet iure. Est velit fugit est eveniet rerum ut accusantium vitae non nesciunt corporis et culpa voluptatem ad iure quia et quae labore. Aut perferendis nihil aut nihil molestiae in temporibus voluptatum ut reiciendis Quis 33 porro doloribus. Sed animi nobis aut distinctio galisum ad omnis mollitia ut voluptas quam et nisi odio.

Aut commodi suscipit ab suscipit internos aut consequatur distinctio et voluptatem tenetur et ipsa ipsam et facere galisum. Sed rerum voluptas rem nemo adipisci est saepe fugiat eum nobis sint qui praesentium quis id voluptas voluptas. Et tenetur recusandae eos nisi nostrum et accusamus reprehenderit id aspernatur assumenda qui distinctio optio ab iusto autem a libero consectetur. Et atque Quis ad omnis maiores est rerum laudantium vel quam mollitia non provident iusto. Eum expedita autem ad galisum iste non nihil dicta ab assumenda quibusdam non quia quibusdam vel quia error. Et consectetur enim id galisum autem ut blanditiis sunt. Quo quia maiores non animi deserunt aut quis temporibus ea similique tempore est porro inventore 33 explicabo nostrum ut rerum quia!

 
    </p>
    
{% endblock %}